@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

body {
    background-color: #e9e9e9;
}

#principal {
    background-color: #ffffff;
    height: 200px;
    width: 600px;
    margin: 3em auto auto ;
    border-radius: 0.5em 0.5em 0em 0em;
    font-family: 'Karla', sans-serif;
}

.cyan {
    color: hsl(179, 62%, 43%);
    padding: 1.5em 2em 1em 1.5em;
    font-weight: 700;
    font-size: 22px;
}

.byellow {
    color: hsl(71, 73%, 54%);
    padding: 0em 1.8em;
    font-weight: 700;
    font-size: 17px;
}

.gray {
    color: hsl(203, 6%, 57%);
    padding: 1em 1em 3em 2em;
    font-weight: 400;
    font-size: 16px;
}

#conteudo {
    height: 260px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0em 0em 0.5em 0.5em;
    font-family: karla;
}

#box1 {
    background-color: #2BB3B1;
    height: 260px;
    width: 300px;
    border-radius: 0em 0em 0em 0.5em;
    float: left;
}
#box2 {
    background-color: #4ABEBD;
    height: 260px;
    width: 300px;
    border-radius: 0em 0em 0.5em 0em;
    float: left;
}

.title {
    color: hsl(204, 43%, 93%);
    padding: 1em 2em;
    margin-top: 2em;
    font-weight: 700;
    font-size: 16px;
}

#money {
    color: hsl(204, 43%, 93%);
    padding: 0.3em 0.3em 0em 1em;
    font-weight: 700;
    font-size: 28px;
}

#month {
    color: #8ccfce;
    font-weight: 700;
    font-size: 16px;
}

#subtext {
    color: hsl(204, 43%, 93%);
    padding: 0em 2em;
    margin-top: 0.8em;
    font-weight: 400;
    font-size: 16px;
}

#button {
    background-color: #bfdf32;
    border-radius: 0.3em;
    padding: 0.5em 2.5em;
    margin: 1em 2.5em;
    font-size: 16px;
}

#text-button {
    background-color: #bfdf32;
    color: #ffffff;
    width: 8em;
    height: 1.8em;
    font-size: 18px;
    border: none;
    font-family: "karla";
    padding: 400;
}

#text-box2 {
    color: hsl(0, 0%, 87%);
    padding: 0.2em 2em;
    font-weight: 200;
    font-size: 17px;
    line-height: 1.3em;
}